.movie{
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.movie h3{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}