<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" formControlName="name" />
    </div>
    <div>
      <label for="age">Age</label>
      <input type="number" id="age" name="age" formControlName="age" />
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" formControlName="email" />
    </div>
    <span class="error" *ngIf="!this.form.valid && this.form.touched"
      >{{ this.errorMessage }}
    </span>
    <button type="submit">Submit</button>
  </form>
</div>
