.bgImg{
    background-image: url("Images/intro_flower.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

ul li{
 list-style: none;
}
a {
    text-decoration: none;
    color: rgb(128, 121, 121);
}

.gradColor{
    background: linear-gradient(rgb(231,229,229),transparent);
}