footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
  text-align: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
a {
  margin: 0 1rem;
}
img {
  width: 2rem;
  height: 2rem;
}
