body {
  margin: 0 auto;
  text-align: center;
}

#hearts {
  border: solid 3px red;
  position: relative;
  height: 350px;
  width: 250px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 8%;
}

#spade {
  font-size: 60px;
  margin: auto;
}

.small-spade {
  position: absolute;
  font-size: 22px;
}

.left {
  left: 30px;
  top: 50px;
}

.right {
  transform: rotate(-180deg);
  left: 203px;
  top: 265px;
}

#ace-left {
  position: relative;
  font-size: 30px;
  top: -10px;
  left: -55px;
}

#ace-right {
  position: absolute;
  font-size: 30px;
  top: 295px;
  left: 200px;
  transform: rotate(-180deg);
}

#heart {
  position: relative;
  width: 100px;
  height: 90px;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 0px;
  top: -20px;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: -50px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

#heart {
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid red;
  transform: rotate(180deg);
}

.center {
  top: 135px;
  left: 100px;
}
