.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
}
form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
form div label {
  text-align: right;
  margin-right: 10px;
}
form div input {
  width: 60%;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 10px;
}
form div button {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
